<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevator | Quote</title>
        <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

	</head>

	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		
	-->
	<body class="smoothscroll enable-animation" onload="hideall()">
	

		<!-- SLIDE TOP -->
		<div id="slidetop">
			

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> WHY ROCKET ELEVATOR?</h6>
						<p>We are simply the best in Canada<br> We have installed over 200,000 elevator <br>around the world!</p>
					</div>

					<div class="col-md-4">
						<h6><i class="fa-facheck"></i> RECENTLY VISITED</h6>
						<ul class="list-unstyled">
							<li><a href="https://www.tvanouvelles.ca/"><i class="fa fa-angle-right"></i> Elevator fall cause 3 deaths</a></li>
							<li><a href="https://www.cnn.com/"><i class="fa fa-angle-right"></i> Elevator malfunction cause injury to a young couple</a></li>
							<li><a href="https://gnews.org/"><i class="fa fa-angle-right"></i> Rocket Elevator government fraud</a></li>
							<li><a href="https://ca.yahoo.com/"><i class="fa fa-angle-right"></i> Only 1 elevator working in my building $%#@#</a></li>
							<li><a href="https://codeboxx.biz/en"><i class="fa fa-angle-right"></i> CodeBoxx is amazing!!!</a></li>
						</ul>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> 1165 Bd Lebourgneuf, <br />  Québec, QC G2K 2C9</li>
							<li><b>Phone:</b> +1 800-887-2497</li>
							<li><b>Email:</b> <a href="mailto:support@yourname.com">support@RocketElevator.com</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left" href="../../">
							<%= image_tag "/images/R2.png" %>
						  </a>
                    
						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
                                <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="../../#home">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="../../#services">
											SERVICES
										</a>
									</li>
									<li><!-- WORK -->
										<a href="../../#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="../../#news">
											NEWS
										</a>
									</li>
									
									<li><!-- CLIENTS -->
										<a href="../../#clients">
											CLIENTS
										</a>
									</li>
									
									<li><!-- CONTACT -->
										<a href="../../#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
		

			</div>



			<!-- REVOLUTION SLIDER -->
  
			<div>
				
					
						 
						<strong style="font-size: 50px;text-align: center;">SUBMISSION PAGE</strong>
					
				
			</div>

		    	
				<form class="col-md-8" method="post" enctype="multipart/form-data" >
					<fieldset style="text-align: left;" >
						<input type="hidden" name="action" value="contact_send" />
                      <hr>
						<div class="col-md-8" >
							<h4 style="text-align: left;">Select building type</h4>
							<select class="form-control pointer" style="font-size: 2rem;width:60%;height: 80px !important;align-self: center;background-color: #F5F5F5;"  id="list" onchange="getSelectValue();">
								<option value="none">Building Type</option>
								<option value="residential">Residential</option>
								<option value="commercial">Commercial</option>
								<option value="corporate">Corporate</option>
								<option value="hybrid">Hybrid</option>

								
					         
          
							</div>
							</select>
						</form>
						<hr>
						<form method="GET" >
				      <div class="row" id=residential2>
					  <div class="col-md">
						   <div>
							
							<label for="appartement"><h3>Number of appartement</h3></label>
							<input name="appartementres" id="appartement" type="number" min="1" oninput="residential(),ajax()"></input>
							</div>
							<hr>
							<div>
								<label for="floors1"><h3>Number of floors (Excluding basement)</h3></label>
							<input id="floors1" type="number" min="1" oninput="residential()"></input>
							</div>
							<hr>
							<div>
								<label for="basement1"><h3>Number of basement contained in the building</h3></label>
							<input id="basement1" type="number" min="1" oninput="residential()"></input>
							</div>
							
					
							
							
							<div id="radiochoice4">
								<hr>
								<input type="radio" id="option-1" class="radiobutton"
								 name="serviceChoice1" value="email"oninput="residential()">Standart</input>
								<label for="contactChoice1">Standart 7,565$ per elevator and 10% installation fees</label>
							
								<input type="radio" id="option-2" class="radiobutton"
								 name="serviceChoice1" value="phone"oninput="residential()">Premium</input>
								<label for="contactChoice2">Premium, 12,345$ per elevator and 13% installation fees</label>
							
								<input type="radio" id="option-3" class="radiobutton"
								 name="serviceChoice1" value="mail"oninput="residential()">Excelium</input>
								<label for="contactChoice3">Excelium 15,400$ per elevator and 16% installation fees</label>
							</div> 
							<hr>
							<div id="priceResidential">
								<h2>Elevator needed :<span id="resultapp"></span></h2>
								<h2>Cage needed :<span id="result1"></span></h2>
								<h2>Elevator Price : <span id="price1"> Price</span>$</h2>
								<h2>Installation fees : <span id="fees1"> Price</span>$</h2>
								<h1>Total Price :<span id="totalPrice1"></span>$</h1>
								<div class="col-md-12">
									<button class="btn btn-primary"> SUBMIT</button>
									<hr>
								</form>
								</div>
								</div>
			         </div>
				 </div>
		

			   
						</div>
						<form  action="form.html">
							<div class="row" id="commercial">
								<div class="col-md-8">
									
								
								<div>
									<label for="busisnesses"><h3>Number of distinc busisnesses</h3></label>
									<input id="busisnesses" class="busisnesses" type="number" min="1"></input>
									</div>
									<hr>
									<div>
										<label for="floors"><h3>Number of floors (Excluding basement)</h3></label> 
									<input id="floors" class="floors" type="number" min="1" oninput="commerc()" ></input>
									</div>
									<hr>
									<div>
										<label for="basements"><h3>Number of basement contained in the building</h3></label>
									<input id="basement2" class="basements" type="number" min="1" oninput="commerc()"></input>
									</div>
									<hr>
									<div>
										<label for="parking"><h3>Number of parking space available</h3></label>
									<input id="parking1" class="parking" type="number" min="1"></input>
									</div>
									<hr>
									<div>
										<label for="cages"><h3>The number of elevator cages to be deployed</h3></label>
										<input id="cages" class="cages" type="number" min="1" oninput="commerc()"></input>
										</div>
										
									<div id="radiochoice3">
										<hr>
										<div>
											<input type="radio" id="option-1-2" oninput="commerc()" class="radiobutton" name="choice2">Standart</input>
											<label for="contactChoice1">Standart 7,565$ per elevator and 10% installation fees</label>
										
											<input type="radio" id="option-2-2" oninput="commerc()" class="radiobutton" name="choice2">Premium</input>
											<label for="contactChoice2">Premium, 12,345$ per elevator and 13% installation fees</label>
										
											<input type="radio" id="option-3-2" oninput="commerc()" class="radiobutton" name="choice2">Excelium</input>
											<label for="contactChoice3">Excelium 15,400$ per elevator and 16% installation fees</label>
										</div>
										</div>
										<hr>
										<div id="commercialprice">
											<h2>Number of Elevator Cages : <span id="numberofcages"></span></h2>
											<h2>Elevator Price : <span id="price2"> Price</span>$</h2>
											<h2>Installation fees : <span id="fees2"> Price</span>$</h2>
											<h1>Total Price :<span id="totalPrice2"></span>$</h1>
											<div class="col-md-12">
												<button type="submit" class="btn btn-primary"> SUBMIT</button>
												<hr>
											</form>
											</div>
											</div>
									</div>
									
							

						        
						</div>
						<form  action="form.html">
						<div  id="corporate" class="row">
								<div class="col-md-8">
									
								<div>
									<label for="companies"><h3>The number of separate tenant companies</h3></label>
									<input id="companies" class="companies" type="number" min="1"></input>
									</div>
									<hr>
									<div>
										<label for="floors"><h3>The number of floors contained in the building, excluding basements</h3></label>
									<input id="floors3" type="number" min="1" oninput="occupantMulFloors()"></input>
									</div>
									<hr>
									<div>
										<label for="basements"><h3>The number of basements contained in the building</h3></label>
									<input id="basements" type="number" min="1" oninput="occupantMulFloors()"></input>
									</div>
									<hr>
									<div>
										<label for="parking"><h3>The number of parking spaces available</h3></label>
									<input id="parking2" class="parking" type="number" min="1"></input>
									</div>
									<hr>
									<div>
										<label for="occupant"><h3>The maximum number of occupants per floor</h3></label>
										<input id="occupant" type="number" min="1" oninput="occupantMulFloors()"></input>
										</div>
										<hr>
									<div id="radiochoice1">
										<h2>Total Occupant: <span id="resultocc"></span></p></h2>
											
											<h2>Recommended Elevator Needed : <span id="result3"></span> </h2>
											<div>
																					
											<input type="radio" class="radiobutton" name="servicechoice3" oninput="occupantMulFloors()" value="1" id="option-1-3">Standart</input>
											<label for="1">7,565$ per elevator and 10% installation fees</label>
											<input type="radio" class="radiobutton" name="servicechoice3" oninput="occupantMulFloors()" value="2" id="option-2-3">Premium</input>
											<label for="2">12,345$ per elevator and 13% installation fees</label>
											<input type="radio" class="radiobutton" name="servicechoice3" oninput="occupantMulFloors()" value="3" id="option-3-3">Excelium</input>
											<label for="2">15,400$ per elevator and 16% installation fees</label>
											<hr>
											<div id="priceCorporate">
											<h2>Elevator Price : <span id="price3"> Price</span>$</h2>
											<h2>Installation fees : <span id="fees3"> Price</span>$</h2>
											<h1>Total Price :<span id="totalPrice3"></span>$</h1>
											<div class="col-md-12">
												<button type="submit" class="btn btn-primary"> SUBMIT</button>
												<hr>
											</form>
											</div>
											</div>
										</div>	
								    </div>
									        </div>

						</div>
						<form  action="form.html">
						<div  id="hybrid" class="row" >
								
								<div class="col-md-8" >
									<div>
										
										<label for="busisnesses"><h3>Number of distinc busisnesses</h3></label>
									<input id="busisnesses2" class="businesses" type="number" min="1"></input>
									</div>
									<hr>
									<div>
										<label for="floors"><h3>The number of floors contained in the building, excluding basements</h3></label>
									<input id="floors4" type="number" min="1" oninput="hybridfunc()"></input>
									</div>
									<hr>
									<div>
										<label for="basements"><h3>The number of basements contained in the building</h3></label>
									<input id="basements4" type="number" min="1" oninput="hybridfunc()"></input>
									</div>
									<hr>
									<div>
										<label for="parking"><h3>The number of parking spaces available</h3></label>
									<input id="parking3" class="parking" type="number" min="1" ></input>
									</div>
									<hr>
									<div>
										<label for="occupant"><h3>The maximum number of occupants per floor</h3></label>
										<input id="occupant4" type="number" min="1" oninput="hybridfunc()"></input>
										</div>
										<hr>
										<div>
											<label for="hours"><h3>The number of hours of activity of the building (the maximum being 24)</h3></label>
											
											<div  class="col-md-8" style="float: right;;width: 20%;">
												<select class="form-control pointer" id="hours" style="background-color: #F5F5F5;">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
													<option value="13">13</option>
													<option value="14">14</option>
													<option value="15">15</option>
													<option value="16">16</option>
													<option value="17">17</option>
													<option value="18">18</option>
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
													<option value="24">24</option>
												</select>
													
												 
											</div>
                                            </div>
											</div>
											
											<div id="radiochoice2">
												<hr>
											<h2>Total Occupant:<span id="resultocc2"></span></h2>
												<h2>Recommended Elevator Needed : <span id="result4"></span>
												</h2>
												<hr>
						
						<input type="radio" class="radiobutton" name="servicechoice4" oninput="hybridfunc()" value="1" id="option-1-4">Standart</input>
						<label for="1">7,565$ per elevator and 10% installation fees</label>
                        <input type="radio" class="radiobutton" name="servicechoice4" oninput="hybridfunc()" value="2" id="option-2-4">Premium</input>
						<label for="2">12,345$ per elevator and 13% installation fees</label>
                        <input type="radio" class="radiobutton" name="servicechoice4" oninput="hybridfunc()" value="3" id="option-3-4">Excelium</input>
						<label for="2">15,400$ per elevator and 16% installation fees</label>
						<div id="priceHybrid">
							<hr>
						<h2>Elevator Price : <span id="price4"> Price</span></h2>
						<h2>Installation fees : <span id="fees4"> Price</span>$</h2>
						<h1>Total Price :<span id="totalPrice4"></span>$</h1>
				
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary"> SUBMIT</button>
								<hr>
							</form>
							</div>	
					</div>
					
						
						</div>


						  


    

					</fieldset>



					<div class="row">

					</div>
				</form>
			</div>
			
			

			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We are simply the best elevator company in the market with more than 200,000 elevator around the globe, we design the best and efficiant elevator for your needs.
							</p>
							<h2>+1 800-887-2497</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
						

							<!-- Newsletter Form -->

							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">

						</ul>
						&copy; All Rights Reserved,Rocket Elevator Company LTD
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


	


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>
		<script src="assets/js/scripts.js"></script>
		<script src="assets/js/app.js"></script>
        <script src="assets/js/quote.js"></script>
		


		<!-- REVOLUTION SLIDER -->
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="assets/js/view/demo.revolution_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script src="assets/js/contact.js"></script>
		<script src="assets/js/index.js"></script>

<script> var formData = document.getElementById('appartement').value; //Array 


$.ajax({
    url : "127.0.0.1:5500/submission.html", // Url of backend (can be python, php, etc..)
    type: "POST", // data type (can be get, post, put, delete)
  // data in json format
  	async : true, // enable or disable async (optional, but suggested as false if you need to populate data afterwards)
    success: function(response, textStatus, jqXHR) {
    	console.log(response);
    },
    error: function (jqXHR, textStatus, errorThrown) {
		console.log(jqXHR);
      	console.log(textStatus);
      	console.log(errorThrown);
    }
}); 
</script>

	</body>
</html>