// orange theme sample
$brand-primary: rgb(59, 0, 0);
$brand-info: rgb(157, 4, 9);
$link-color: #800;
$nav-pills-active-link-hover-bg: rgb(157, 4, 9);
$btn-primary-bg: rgb(157, 4, 9);
$btn-primary-border: rgb(157, 4, 9);
$btn-info-bg: rgb(157, 4, 9);
$btn-info-border: #ffffff;
$fg-nav-tabs-active: rgb(157, 4, 9);
